<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
          integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/login.css">
    <link rel="stylesheet" href="~/Content/card.css" />
    <link rel="stylesheet" href="~/Content/special.css"/>
    <title>Lanchat</title>

</head>

<body class="grid">
    <header class="header">
        <div class="logo">
            <img src="~/Content/img/lanchat.png">
        </div>

        <div class="navigation">
            <h1>Bienvenue sur E-commerce</h1>
            <nav class="mainNav">
                <ul class="menu">
                    <li><a href="#">Boutique</a></li>
                    <li>
                        <a href="#">Statistique</a>
                        <ul class="submenu">
                            <li><a href="#">Sous-menu</a></li>
                            <li><a href="#">Sous-menu</a></li>
                        </ul>
                    </li>
                    @if (!HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <li><a href="~/Login/Register">S'enregistrer</a></li>
        }
@*                    <li><a href="~/Login/Register">S'enregistrer</a></li>*@
                    <li><a href="#">Accueil </a></li>
                    <li><a href="#"><i class="fas fa-cart-arrow-down"> 99+</i></a></li>
                </ul>
            </nav>
        </div>
        <div class="contact">
            <button type="button" class="btnContact">
                <span id="contactez">Technical support <br />24h/24h</span>
                <span id="phone">112</span>
            </button>
        </div>

        <div class="bareSearch">
            <label class="fa fa-search search-icon" for="tag-search"></label>
            <input type="checkbox" id="tag-search" />
            <div class="search-box">
                <input class="chercherText" type="text" placeholder="Chercher..." />
            </div>
        </div>

    </header>
    <aside class="left">
        <div class="blabla">
            <img src="~/Content/img/question.jpg" alt="">
        </div>
    </aside>
    <section class="middle" id="main">
        @RenderBody()
    </section>
    <aside class="right">
        <div style="color:white; padding:10px;">
            @if (Session["erreur"] != null)
            {
                <p>@Session["erreur"]</p>
                Session["erreur"] = null;
                //Session.Remove("erreur");
            }
        </div>
        @if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <h3 style="color:white;">Bonjour</h3>
            <div>
                <ul class="menu">
                    <li><a href="~/login/logout">LogOut</a></li>
                </ul>
            </div>
        }
        else
        {
            @Html.Action("LoginForm", "Login");
        }

    </aside>
    <footer class="footer">
        @*<ul class="socialBtn">
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>*@
        <p class="mail">tib@ptr.pro</p>
        <img class="tib" src="~/Content/img/monlogo.png" />
        <a href="#" class="totop" id="totop"><i class="fas fa-arrow-up"></i></a>
    </footer>

    <script src="~/Content/script.js"></script>
</body>

</html>