body {
    text-align: center;
    background-image: url("../img/uk2.jpg");
    background-size: 100% 100%;
    /*font-family: 'Fredericka the Great', cursive;*/
    /* font-family: 'Nanum Brush Script', cursive; */
}
header{

}
header h1 {
    font-size: 70px;
    color: white;
    background-color: #0000007c;
    margin: 0;
    padding: 10px;
}

#vue {
    background-color: #f0f8ff36;
    width: 95vw;
    height: 95vh;
    margin: 15px auto;
    padding: 0;
 
    -webkit-box-shadow: 0px 0px 14px 2px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 14px 2px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 14px 2px rgba(255, 255, 255, 1);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.start_conf{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 450px;
    height: 150px;
    font-size: 45px;
}
.quiz-container{
    background-color: #00000060;
    height: 80vh;
    margin: 20px;
}

.quiz_theme {
    font-size: 25px;
    margin: 20px;
    color: white;
}

.quiz_theme input {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.quiz_theme label{
    font-size: 35px;
}

.category-container {
    display: inline-flex;
    font-size: 35px;
    color: white;
    font-weight: bold;
    padding: 20px;
}
.next{
    width: 350px;
    height: 100px;
    font-size: 45px;
    padding: 20px;
}
.team-container {
    text-align: center;
    height: 65vh;
    margin: 20px;
    background-color: #00000062;
    font-weight: bold;
}
.btn {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.team {
    padding: 10px;
    margin: auto;
    width: 250px;
    font-size: 1.8em;
    background-color: #f0f8ff3b;
    display: flex;
    flex-direction: column;

}
.team input{
    font-size: 25px;
}
.btn h2 {
    font-weight: bold;
    color: aliceblue;
    font-size: 45px;
    margin: 0;
}

.btnPlus {
    width: 50px;
    height: 50px;
    margin: 5px auto;
    background: 0;
    border: 0;
    background-size: 100% 100%;
    background-image: url('../img/plus.png');
}

.btnMinus {
    width: 50px;
    height: 50px;
    margin: 5px auto;
    background: 0;
    border: 0;
    background-size: 100% 100%;
    background-image: url('../img/moin.png');
}

#btnStart {
    width: 350px;
    height: 50px;
    font-size: 35px;
}

/* .questions {
    color: white;
    font-size: 20px;
    padding: 20px;
} */

.footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    background-color: #00000099;
    padding: 15px;
}

.team[data-id="1"] {
    border-color: #ff0088;
    background-color: #ff00887e;
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
}


.team[data-id="2"] {
    border-color: #00ffcc;
    background-color: #00ffcc7e;
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
}

.team[data-id="3"] {
    border-color: #fa8072;
    background-color: #fa80727e;
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
}

.team[data-id="4"] {
    border-color: #4b0082;
    background-color: #4c00827e;
    font-size: 1.4em;
    font-weight: bold;
    color: #fff;
}



/*center*/

.right {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #00000062;
    margin: 20px;
}

h3 {
    margin: 0px;
    font-size: 55px;
}

.score {
    background-color: #f0f8ff36;
    cursor: pointer;
    letter-spacing: 3px;
    font-weight: bold;
    color: white;
    margin: 15px;
    padding: 10px 40px;
    text-align: center;
    border-radius: 10px;
    width: 150px;
}

.theme {
    background-color: #00000062;
    height: 10%;
}

.theme h2 {
    color: #000;
    padding: 10px;
    width: 150px;

}

#modalPrincipal,
#modalSecondary {
    position: absolute;
    display: none;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: white;
    left: 0;
    top: 0;
    text-align: center;
}

#modalPrincipal h2,
#modalSecondary h2 {
    font-size: 150px;
    margin-top: 10%;
}

.close,
.closeTotal {
    position: absolute;
    top: 0;
    right: 0;
    background: 0;
    border: 0;
    background-image: url("../img/close3.png");
    background-size: 100% 100%;
    width: 60px;
    height: 60px;
    margin: 10px;
}
.back{
    position: absolute;
    top: 0;
    right: 80px;
    background: 0;
    border: 0;
    background-image: url("../img/back2.png");
    background-size: 100% 100%;
    width: 60px;
    height: 60px;
    margin: 10px;
}
.btnReponse,
.btnValidate {
    padding: 20px;
    font-size: 25px;
    margin-top: 10%;
}

.right h2 {
    color: white;
    text-align: center;
    font-size: 25px;
}

.reload{
    position: absolute;
    top: 0;
    right: 0;
    background: 0;
    border: 0;
    background-image: url("../img/reload.png");
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    margin: 35px 60px;
}
.back_main{
    position: absolute;
    top: 0;
    right: 45px;
    background: 0;
    border: 0;
    background-image: url("../img/back2.png");
    background-size: 100% 100%;
    width: 40px;
    height: 40px;
    margin: 8px;
}