<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon titre</title>
    <link rel="stylesheet" href="css/app.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/Db.js"></script>
    <script src="js/Quiz.js"></script>
    <script src="js/Team.js"></script>
    <script src="js/Game.js"></script>
    <script src="js/app.js"></script>
</head>

<body>
    <div id="vue">
        <header>
            <h1>Welcome</h1>
        </header>
        <main class="main">
            <div class="addTeam">
                <h2>Number of teams</h2>
                <article class="btn">
                    <button class="btnMinus" v-if="game.teams.length > 0" v-on:click="deleteTeam()">-</button>   
                    <button class="btnPlus" v-on:click="addTeam()">+</button>
                    
                </article>
               
                <article class="team"  v-for="team in game.teams">
                    <label for="">{{ team.name }}</label> 
                    <input v-model="team.name">           
                </article>
            </div>

            <div class="questions">
                <p v-for="quiz in quizzes">
                    <input type="radio" name="the_quiz" :id="quiz.quiz_id" :data-id="quiz.quiz_id"
                        v-on:change="loadCategories">
                    <label for="">{{ quiz.quiz_theme }}</label>
                </p>
                <div style="border: 1px solid #fff; height: 80%; font-size: 30px;">
 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, illo! Blanditiis reiciendis assumenda esse ullam voluptates repellendus atque vero, temporibus magnam, laborum pariatur cupiditate expedita ut, repudiandae iure minus voluptas.
                </div>
            </div>

        </main>
        <footer class="team-container">
            <article class="team" :data-id="team.id" v-for="team in game.teams">
                <label for="">{{ team.name }}</label>
                <label for="">Score : {{ team.score }}</label>           
            </article>
        </footer>
    </div>

</body>

</html>

<!-- <p>Crédits</p>
<div v-for="author in authors">
    <p>{{ author }}</p>
</div>
<div v-if="isActive">Ceci est affiché!</div>
<div v-if="year >= 2025">Lorem</div> -->
<!-- <hr>
{{ renderBody }}
<button id="btn">CLICK ME /!\</button>
<br>
<input v-model="pageTitle">
<input v-model="year"> -->