<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~Content/style.css" />
    <title>_Layout</title>
</head>
<body class="grid">
    <header >
        <h1>Bienvenue sur e-commerce</h1>
        <img src="">
        <nav class="navigation">
            <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Html 5</a></li>
                <li>
                    <a href="#">CSS 3</a>
                    <ul>
                        <li><a href="#">Introduction</a></li>
                        <li><a href="#">Background</a></li>
                        <li><a href="#">Bordure</a></li>
                        <li><a href="#">Texte</a></li>
                        <li><a href="#">Transformation</a></li>
                    </ul>
                </li>
                <li><a href="#">Aplications</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <aside class="left">

    </aside>
    <section class="middle">
        @RenderBody()
    </section>
    <aside class="right">

    </aside>
    <footer>
        <p>CRM</p>
    </footer>
</body>
</html>
