
@{
    Layout = null;
    List<string> maListe = (List<string>)ViewData["maListe"];
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Commision</title>
</head>
<body>
    <div> 
        <h1>Listes des courses</h1>
        <ul>
            @{
                foreach (string element in (List<string>)ViewData["maListe"])
                {
                    <li>@element</li>
                }
            }
        </ul>

    </div>
</body>
</html>
