:root{

}
* {
    margin: auto;
    padding: 0px;
    box-sizing: border-box;
}

grid {
    width: 100%;
    height: 100%;
    text-align: center;
}

header {
    height: 60px;
    width: 100%;
    background-color: var(--primary);
    border-bottom: 1px solid var(--border);
}

    header img {
        margin-top: 45px;
        margin-left: 200px;
    }

.navigation {
    grid-area: na;
    font-size: 15px;
    margin-top: 0px;
    margin-right: 50px;
    font-family: 'channel-webfont';
}

    .navigation > ul {
        list-style-type: none;
        line-height: 60px;
    }

        .navigation > ul > li {
            display: inline-block;
            margin-left: 50px;
            padding-left: 8px;
            padding-right: 8px;
        }

        .navigation > ul li a {
            text-decoration: none;
            color: var(--border);
        }

    .navigation a:hover {
        color: var(--hover);
    }

    .navigation li:hover {
        background-color: var(--highlight);
    }

    .navigation > ul ul {
        list-style-type: none;
        position: absolute;
        display: none;
        margin-left: 30px;
    }

    .navigation ul li:hover ul {
        display: block;
        background-color: #00000065;
    }

    .navigation > ul ul li {
        display: block;
        padding-left: 15px;
        padding-right: 15px;
        border-left: 1px solid var(--border);
        border-right: 1px solid var(--border);
        border-bottom: 1px solid var(--border);
    }
