.special {
    display: flex;
    flex-direction: column;
    align-content:center;
    background-color: #15151D;
    padding: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
    border: 3px solid #c82331d2;
    font-size: 20px;
    border-radius: 10% / 90%;
    margin: 30px;
}
.special ul{
    list-style:none;
    display:inline-block;
}
.special ul li a{
    color:white;
    text-decoration:none;
}

.table tr td a {
    color: white;
    text-decoration:none;
}
.form-horizontal {
    width: 100%;
    margin-top: 10%;
    background-color: #15161D;
    padding: 30px;
    color: white;
}

h4 {
    text-align: center;
    font-size: 25px;
}

.form-group {
    padding: 15px;
    font-size: 20px;
}

    .form-group input {
        text-align: center;
    }

.control-label {
}

.back {
    margin-top: 20px;
}

    .back a {
        color: white;
        text-decoration: none;
    }

.details {
    margin-top: 50px;
    color: white;
    background-color: rgba(21, 22, 29, 0.836);
    border-radius: 20px;
    /*background-color: rgba(21, 22, 29, 0.836);*/
    /*background-image: url("img/CARTE.png");
    background-size: 100% 100%;
    background-repeat:no-repeat;*/
    border: 2px solid #A91F2D;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.detailsL {
    flex: 1;
    text-align: center;
    line-height: 50px;
}

.detailsR {
    flex: 1;
    padding: 30px;
    /*border: 2px solid rgba(185, 80, 38, 0.836);*/
    height: 90%;
    text-align: center;
}

    .detailsR h2 {
        font-size: 2.2em;
    }

    .detailsR fieldset {
        margin: 40px;
        border: 2px solid rgba(185, 80, 38, 0.836);
        height: 30%;
        padding: 30px;
    }

    .detailsR div a {
        margin: 10px;
        color: rgba(185, 80, 38, 0.836);
        font-size: 1.8em;
        text-decoration: none;
    }

.avatar {
    width: 256px;
}

.ajouterCarte {
    width: 100%;
    text-align: center;
    margin: 20px;
}
.ajouterCarte li{
    border: none;
}
.ajouterCarte a{
    color:white;
    text-decoration:none;
    font-size:25px;
}