@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    <p style="color:white; font-size:20px; margin:20px;">Vous êtes bien connecté !</p>
}
else
{
    <p style="color:white; font-size:20px; margin:20px;">Veuillez vous connecter svp!</p>

    @*<div class="special">
            <h2>Identification</h2>
            <form action="" method="post">
                <label for="username">Username</label>
                <input type="text" id="" name="username" value="" placeholder=" Your name" required />

                <br />

                <label for="password">Password</label>
                <input type="password" id="" name="password" value="" placeholder=" Your password" required />

                <br />

                <input type="submit" value="Validate" />

            </form>
        </div>*@
}












