<div id="loginBox"  style="color:white;">
    <form id="loginForm" name="loginForm" class="box" action="/login/index" method="post">
        <h1>Login</h1>
        <input type="text" name="username" id="username" placeholder="Username" required>
        <input type="password" name="password" id="password" placeholder="Password" required>
        <input type="submit" name="login" id="login" value="Validate">
    </form>
    <span id="loginMessage" style="color:white;"></span>
</div>